.ctaButton{display: flex; width: 335px; padding: 20px 18px; justify-content: center; align-items: center;
border-radius: 100px; background: var(--primary-gradient, linear-gradient(209deg, var(--Secondary-50, #5D44FF) 19.8%, var(--primary-60, #0192F5) 102.39%));

/* button dark */
box-shadow: 1px -1px 2px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 2px 0 rgba(255, 255, 255, 0.79) inset;}
.ctaButton p{color: var(--text-white, #FAFAFA); text-align: center; font-family: var(--font-family-Font-2, Arial); font-size: var(--font-size-17, 17px);
font-style: normal; font-weight: var(--font-weight-700, 700); line-height: normal; margin:0px;}